<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learning.spring.boot.mapper.TcSysUserMapper">
    <resultMap id="baseResultMap" type="com.learning.spring.boot.domain.entity.TcSysUserEntity">
        <id column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="TIMESTAMP" />
        <result column="email" property="email" jdbcType="TIMESTAMP" />
        <result column="sex" property="sex" jdbcType="TINYINT" />
        <result column="address" property="address" jdbcType="DECIMAL" />
        <result column="qq" property="qq" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="findUserList" resultType="com.learning.spring.boot.domain.entity.UserEntity">
        SELECT *
        FROM tc_sys_user
    </select>

    <select id="findUser" parameterType="java.lang.Long" resultType="com.learning.spring.boot.domain.entity.UserEntity">
        SELECT *
        FROM tc_sys_user
        WHERE user_id= #{userId}
    </select>

    <delete id="deleteUser" parameterType="java.lang.Long">
        DELETE FROM tc_sys_user WHERE user_id= #{userId}
    </delete>
\
    <insert id="createUser" parameterType="com.learning.spring.boot.domain.request.UserCreateRequest">
        INSERT INTO tc_sys_user (user_name, password, qq, sex, email, address)
        VALUES (#{userName}, #{password}, #{qq}, #{sex}, #{email}, #{address})
    </insert>

    <update id="updateUser" parameterType="com.learning.spring.boot.domain.request.UserUpdateRequest">
        UPDATE tc_sys_user SET
            user_name = #{userName},
            password = #{password},
            qq = #{qq},
            sex = #{sex},
            email = #{email},
            address = #{address}
        WHERE user_id = #{userId}
    </update>

</mapper>