<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="common_resource">
    <script th:src="@{static/vanilla-cream-css/js/libs/modernizr.min.js}"></script>
    <script th:src="@{static/vanilla-cream-css/js/libs/jquery-1.10.0.js}"></script>
    <script th:src="@{static/vanilla-cream-css/js/libs/jquery-ui.min.js}"></script>
    <script th:src="@{static/vanilla-cream-css/js/libs/bootstrap.min.js}"></script>

    <!-- Style CSS -->
    <link th:href="@{static/vanilla-cream-css/css/bootstrap.css}" media="screen" rel="stylesheet">
    <link th:href="@{static/vanilla-cream-css/style.css}" media="screen" rel="stylesheet">
    <link th:href="@{static/css/docs.css}" media="screen" rel="stylesheet">

    <!-- scripts -->
    <script th:src="@{static/vanilla-cream-css/js/general.js}"></script>
    <script th:src="@{static/js/general.js}"></script>

    <!-- datepicker -->
    <link th:href="@{static/vanilla-cream-css/css/jquery-ui-1.8.20.custom.css}" rel="stylesheet">

    <!-- custom input -->
    <script th:src="@{static/vanilla-cream-css/js/jquery.customInput.js}"></script>
    <script th:src="@{static/vanilla-cream-css/js/custom.js}" type="text/javascript"></script>

    <!-- Placeholders -->
    <script th:src="@{static/vanilla-cream-css/js/jquery.powerful-placeholder.min.js}" type="text/javascript"></script>

    <!-- Multiselect -->
    <link th:href="@{static/vanilla-cream-css/css/chosen.css}" rel="stylesheet">
    <script th:src="@{static/vanilla-cream-css/js/jquery.chosen.min.js}" type="text/javascript"></script>

    <!-- Scroll Bars -->
    <script th:src="@{static/vanilla-cream-css/js/jquery.mousewheel.js}"></script>
    <script th:src="@{static/vanilla-cream-css/js/jquery.jscrollpane.min.js}"></script>

    <!-- Progress Bars -->
    <script th:src="@{static/vanilla-cream-css/js/progressbar.js}"></script>

    <!-- range sliders -->
    <script th:src="@{static/vanilla-cream-css/js/jquery.slider.bundle.js}"></script>
    <script th:src="@{static/vanilla-cream-css/js/jquery.slider.js}"></script>
    <link th:href="@{static/vanilla-cream-css/css/jslider.css}" rel="stylesheet" >

    <!-- Volume, Balance -->
    <script th:src="@{static/vanilla-cream-css/js/knobRot-0.2.2.js}" type="text/javascript"></script>

    <!-- Video Player -->
    <link th:href="@{static/vanilla-cream-css/css/video-js.css}" rel="stylesheet">
    <script th:src="@{static/vanilla-cream-css/js/video.js}"></script>

    <!-- Audio Player -->
    <link th:href="@{static/vanilla-cream-css/css/jplayer.css}" rel="stylesheet">
    <script th:src="@{static/vanilla-cream-css/js/jquery.jplayer.min.js}"></script>
    <script th:src="@{static/vanilla-cream-css/js/jplayer.playlist.min.js}"></script>

    <!-- Calendar -->
    <script th:src="@{static/vanilla-cream-css/js/jquery-ui.multidatespicker.js}"></script>

    <!-- Visual Text Editor -->
    <script th:src="@{static/vanilla-cream-css/js/nicEdit.js}"></script>

    <!-- Graph Builder -->
    <script th:src="@{static/vanilla-cream-css/js/excanvas.min.js}" language="JavaScript" type="text/javascript"></script>
    <script type="text/javascript" th:src="@{static/vanilla-cream-css/js/jquery.flot.js}"></script>
    <script type="text/javascript" th:src="@{static/vanilla-cream-css/js/jquery.flot.resize.js}"></script>

    <!-- SyntaxHighlighter -->
    <link th:href="@{static/css/prettify.css}" rel="stylesheet">
    <link th:href="@{static/css/signin.css}" rel="stylesheet">
</div>
</body>
</html>